@use '@/scss/underscore' as _;

.regenerateButton {
  margin-top: _.unit(3);
}

.signingKeyField {
  width: 100%;
}

.generating {
  display: flex;
  align-items: center;
  gap: _.unit(2);
  color: var(--color-text-secondary);
  font: var(--font-body-2);
}
